@using EBookStore.Models.Enums
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - EBookStore</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/EBookStore.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
</head>
<body class="d-flex flex-column min-vh-100">
	<partial name="_NavbarPartial" />
	<main class="flex-grow-1">
		<div class="container-fluid">
			<div role="main">
				@RenderBody()
			</div>
		</div>
	</main>

	<footer class="footer mt-auto py-3 position-relative border-top bottom-0">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 text-center">
					© 2024 - EBookStore
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
