@model EBookStore.Models.Book
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
	<h1>Edit Book</h1>
	<hr />
	<form asp-action="Edit">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label asp-for="Title" class="control-label my-2"></label>
					<input asp-for="Title" class="form-control" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Category" class="control-label my-2"></label>
					<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
				</div>
				<div class="form-group">
					<label asp-for="Author" class="control-label my-2"></label>
					<select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Authors"></select>
				</div>
				<div class="form-group">
					<label asp-for="Publisher" class="control-label my-2"></label>
					<select asp-for="PublisherId" class="form-control" asp-items="ViewBag.Publishers"></select>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label asp-for="ISBN" class="control-label my-2"></label>
					<input asp-for="ISBN" class="form-control" />
					<span asp-validation-for="ISBN" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Price" class="control-label my-2"></label>
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Stock" class="control-label my-2"></label>
					<input asp-for="Stock" class="form-control" />
					<span asp-validation-for="Stock" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Image" class="control-label my-2"></label>
					<input asp-for="Image" class="form-control" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label asp-for="Description" class="control-label my-2"></label>
			<input asp-for="Description" class="form-control" />
		</div>
		<div class="form-group my-3">
			<input type="submit" value="Save" class="btn btn-primary" /> |
			<a asp-action="Index" class="btn btn-info">Back to List</a>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}